<div class="top-bar"></div>
<div class="header">
  <a href="/">
    <div class="header__logo">
      <img src="/src/layouts/common/42_logo.svg" alt="42" />
    </div>
  </a>
</div>
<div id="screen-error" class="screen-error">
  <div class="error-content">
    <div class="spinner"></div>
    <p class="error-text">
      The screen is too small. Please use a larger display, such as a PC screen (1024px x 768px or
      bigger).
    </p>
  </div>
</div>
<div>
  <div class="content">
    <div id="background"></div>
    <children />
  </div>
</div>
