<div class="top-bar"></div>
<div class="header">
  <a href="/">
    <div class="header__logo">
      <img src="/src/resources/42_logo.svg" alt="42" />
    </div>
  </a>
  <div class="header__profile">
    <a href="/logout">
      <div class="logout-icon">
        <img src="/src/resources/logout.png" alt="Logout" style="cursor: pointer" />
      </div>
    </a>
=======
  <div class="__profile">
    <a href="/profile">
      <div class="profile-icon">
        <img
          id="avatar"
          src="/src/resources/avatar.png"
          alt="Avatar"
          style="cursor: pointer"
        />
      </div>
    </a>
  </div>
</div>
<div>
  <div class="content">
    <div id="background"></div>
    <children />
  </div>
</div>
